# Xcode
*.xcuserstate
*.xcscmblueprint
xcuserdata/
DerivedData/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Build
build/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/
Podfile.lock

# macOS
.DS_Store
.AppleDouble
.LSOverride
__MACOSX/

# Swift Package Manager
.build/
.swiftpm/

# Logs / temp
*.log
/BydAutoLock_IPA/
